.show-answer-icon {
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(90deg);
}

.nav-pointer:hover,
.show-answer-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.pointer:hover {
  cursor: pointer;
}

.vertical-center {
  margin-top: 35vh;
}

.hidden {
  display: none;
}

.left-arrow {
  position: absolute;
  top: 12vh;
  left: -3vw;
}

.right-arrow {
  position: absolute;
  top: 12vh;
  right: -3vw;
}
