@media (min-width: 992px) {
  .card-height {
    height: 14rem;
  }
}

@media (min-width: 1400px) {
  .card-height {
    height: 16rem;
  }
}

@media (min-width: 1800px) {
  .card-height {
    height: 20rem;
  }
}

.text-height {
  height: 3rem;
  overflow: auto;
}

.full-height {
  height: 90vh;
}

.show-answer-icon {
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(90deg);
}

.nav-pointer:hover,
.show-answer-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.pointer:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.left-arrow {
  position: absolute;
  top: 45vh;
  left: -3vw;
}

.right-arrow {
  position: absolute;
  top: 45vh;
  right: -3vw;
}
