@media (min-width: 992px) {
  .card-height {
    height: 14rem;
  }
}

@media (min-width: 1400px) {
  .card-height {
    height: 16rem;
  }
}

@media (min-width: 1800px) {
  .card-height {
    height: 20rem;
  }
}

body {
  background: url('assets/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.form-bg,
.no-card-bg {
  background: white;
}

.progress-color {
  background-color: #eee;
}

.text-height {
  height: 3rem;
  overflow: auto;
}

.edit-delete-icons {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
}

.full-height {
  height: 90vh;
}

.show-answer-icon {
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(90deg);
}

.nav-pointer:hover,
.show-answer-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.pointer:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.left-arrow {
  position: absolute;
  top: 45vh;
  left: -3vw;
}

.right-arrow {
  position: absolute;
  top: 45vh;
  right: -3vw;
}
